<script src="angular.js"></script>
<script>
    var app = angular.module("ToDoApp", []);
    app.controller("indexController", function () {
        this.name = "Clarissa";
        this.list=[];
        this.add = function () {
            this.list.push(this.name);
            this.name="";
        }
        this.delete=function(msg){
            var index = this.list.indexOf(msg);
            this.list.splice(index, 1);
        }
    })
</script>

<body ng-app="ToDoApp" ng-controller="indexController as index">
<h1> To Do List </h1>
{{index.name}}<br>
<input type="text" ng-model="index.name" >
<button ng-click="index.add()"> Add </button>
<div ng-repeat="msg in index.list">
    {{msg}}<button ng-click="index.delete(msg)">Delete</button>
</div>
</body>


